*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
    --purple: rgb(81, 95,188);
    --gray-light: #8e99a1;
    --blue-dark: #1e262f;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}



section{
    border: 2px yellow solid;
}

footer{
    border: 2px blue solid;
}
/*========HEADER=========*/
header{
    border: 2px purple solid;
    background-color: rgb(81, 95, 188);
    height: 70px;
}


.logo>img{
    width: 80px;
    margin: 30px 0;
}
/*========HERO=========*/


#section-hero{
    background-color: var(--purple);
    color: white;
}

h1{
    font-weight: 500;
}
h3{
    font-weight: 300;
}